.ItemApp {
    display: flex;
    flex-direction: column;  
    align-items: center;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden; /* 페이지 전체에서 스크롤바를 제거합니다. */
  }
  
  .form {
    width: 100%;
    max-width: 1200px;
    flex-direction: row;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px; /* 폼과 메시지 사이의 간격 */
  }
  
  .form input,
  .form select,
  .form button {
    flex: 1;
    width: 100px;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
  }
  
  .message {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 10px 0;
    height: 20px; /* 메시지 영역의 최소 높이를 설정 */
  }
  
  .table-container {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    overflow-y: auto;
  }
  
  .back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    text-decoration: none;
    color: #000;
  }
  
  .back-arrow:hover {
    text-decoration: underline;
  }