services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ../build:/usr/share/nginx/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
    - project-api
    links:
    - project-api

  project-api:
    image: com.example.project-api:0.0.1-SNAPSHOT
    ports:
      - "8080:8080"
    platform: linux/amd64