.BrandApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden; /* 페이지 전체에서 스크롤바를 제거합니다. */
}

.form-container {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px; /* 폼과 테이블 사이의 간격 */
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; /* 입력폼을 중앙에 정렬 */
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  padding: 10px 20px;
  box-sizing: border-box;
}

.message {
  text-align: center;
  margin: 10px 0;
  min-height: 20px; /* 메시지 영역의 최소 높이를 설정 */
}

.table-container {
  width: 100%;
}